@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans, sans-serif;

}

.navbar-brand{
    font-weight: bold;
    font-size: 24px;
    font-family: DM Sans, sans-serif;
    color: #1E0E62;
}

.nav-link, .nav-link dropdown-toggle{
    color: #A1A1B0;
    font-size: 16px;
    font-weight: 400;
    font-family: DM Sans, sans-serif;
}

.nav-btn{
    outline: none;
    border: 0;
    box-shadow: none;
    padding: 5px 18px 5px 0;
    color: #A1A1B0;
    font-weight: 400;
    font-size: 16px;
    background: white;
    font-family: DM Sans, sans-serif;
}

.nav-btn2{
    outline: none;
    border: 0;
    box-shadow: none;
    padding: 5px 18px;
    color: #A1A1B0;
    font-weight: 400;
    font-size: 16px;
    background: white;
    font-family: DM Sans, sans-serif;
}

.nav-btn2:hover{
    background: #04a895ac
}

.nav-btn:hover{
    color: #25DAC5
}

.nav-btn2{
    background: #25DAC5;
    border-radius: 100px;
    color: white;
}




.myform,  .primary-btn {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
    padding: 11px 14px !important;
    width: 70%;
    border-radius: 57px !important;
}

@media screen and (max-width: 900px) {
    .myform {
        width: 100%;
    }
    .primary-btn {
        width: 100%;
    }
    .head-item{
        font-size: 32px !important;
    }
    br{
        display: none;
    }

    .ml-5{
        margin-left: 0 !important;
        text-align: center;
        margin-top: 10px !important;
    }
}


.head-item{
    color: #1E0E62;
    font-size: 40px;
}

.primary-btn{
    background: #25DAC5;
    padding: 17px 204px;
    color: #fff;
    border: 0;
}  

.form-group{
    margin-bottom: 30px;
}

.form-section{
    margin-top: 50px;
}

.mt-3, p{
    color: #A1A1B0;
    font-size: 14px;
}


iframe{
    width: 100%;
}

